.header{

    background-image: url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
    margin: 0 250px;
    
}

.t-s{

    color: #FFF;

    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 150px;


}
.t-b{
    color: #FFF;

    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
    padding-left: 350px;

}
/*.akaj{

    text-align: center;
    padding-left 30px: ;
}*/

.banner{

 border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
width: 1320px;
height: 600px;

}


.picture{

    width: 600px;
    height: 300px;
    flex-shrink: 0;
    padding-left: 600px;
    padding-top: 0;

}
.section-tittle{

    color: #F00;

text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.Offer-tittle{

    color: #F00;

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 300px;
line-height: normal;

}
.Offer-catagory{

    color: #070211;

text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;

}

.wow{

   
   width: 1320px;
   height: 600px;
   flex-shrink: 0;
   border-radius: 16px;
   background-image: url(../resources/Vectorrr.png);
   background-repeat: no-repeat;
   margin: 0 250px;
   
   
   }
   .t-c{

color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 88px
width: 697px;
padding-top: 0px;
padding-left: 50px;


   }

   .B-tittle{

    color: #FFF;

    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
    padding-left: 50px;
    padding-top: 200px;
    



   }
   
   .btn{
    color: #FFF;

    
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 0px;
    padding-left: 50px;
   }