.header{

    background-image: url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
    margin: 0 250px;
    
}

.t-s{

    color: #FFF;

    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 150px;


}
.t-b{
    color: #FFF;

    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
    padding-left: 350px;

}
/*.akaj{

    text-align: center;
    padding-left 30px: ;
}*/

.banner{

 border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
width: 1320px;
height: 600px;

}


.picture{

    width: 600px;
    height: 300px;
    flex-shrink: 0;
    padding-left: 600px;
    padding-top: 0;

}
.section-tittle{

    color: #F00;

text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.Offer-tittle{

    color: #F00;

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 300px;
line-height: normal;

}
.Offer-catagory{

    color: #070211;

text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;

}

.wow{

   
   width: 1320px;
   height: 600px;
   flex-shrink: 0;
   border-radius: 16px;
   background-image: url(../resources/Vectorrr.png);
   background-repeat: no-repeat;
   margin: 0 250px;
   position: relative;
   
   
   }


.group-70{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
   padding-left: 700px;
   
    
}



   .t-c{
width: 697px;
color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;

font-weight: 400;
line-height: 88px

padding-top: 0px;
padding-left: 50px;


   }

   .B-tittle{

    color: #FFF;

    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
    padding-left: 50px;
    padding-top: 200px;
    



   }
   
   .btn{
    color: #FFF;

    
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 0px;
    padding-left: 50px;
   }

   .D-tittle{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;

   }

   .khub-kosto{

    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; 
    text-transform: capitalize;
   }

   .D-tittles{
    padding-top: 150px;
    margin: 30px 250px;
    text-align: center;
    width: 1320px;
    height: 400px;
    flex-shrink: 0;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
   }

   .button{
    color: #FFF;

   background-color: #F00;
   width: 103px;
   height: 40px;
   padding-top: 10px;
   padding-bottom: 10px;

   }
   .E-tittles{
    margin: 30px 130px;
    display: flex;
    justify-content: space-around;
    background: #FFF;
   }
   .E-des{

    width: 276px;
   }

   .image{
   
    border-radius: 200px;
    border: 15px solid #F00;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    padding: 49.08px 49.08px 49.08px 49.08px;
   }

   .E-tittle{

    color: #F00;
   }
   .Test-deco{

    text-align: center;
   
   }
   .mark{

color: #F00;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
   }
.Mark{
color: #070211;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}
.box{
    width: 1068px;
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px;
padding-left: 400px;
}

.image1{
    
   padding-left: 20px; 
}

.image2{
 
    width: 206.841px;
    height: 206.841px;
    padding-bottom: 160px;
    padding-left: 400px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    

}

.image3{
    width: 429px;
    height: 433px;
    border-radius: 16px 16px 0px 0px;
padding-bottom: 80px;
padding-left: 207px;

  
    

}
/*.image4{

    border-radius: 16px 0px 16px 16px;
background: #F00;
padding-bottom: 20px;

}*/
.redeco{
    background-image: url(../resources/Rectangle\ 2.png);
    display: flex;
    margin: 0 150px;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: relative;
   
}


.sample-des{

    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-weight: 400;
    line-height: 32px;
    font-family: Inter;
    font-size: 20px;
}

.sample-t{

    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.sample{

justify-content: space-between;
margin: 0 300px;
background: #FFF;
padding-top: 100px;

}
