.header{

    background-image: url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
    margin: 0 250px;
    
}

.t-s{

    color: #FFF;

    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 150px;


}
.t-b{
    color: #FFF;

    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
    padding-left: 350px;

}
/*.akaj{

    text-align: center;
    padding-left 30px: ;
}*/

.banner{

 border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
width: 1320px;
height: 600px;

}

.Offer{
    width: 1600px;
    height: 7335px;
}
.picture{

    width: 600px;
    height: 300px;
    flex-shrink: 0;
    padding-left: 600px;
    padding-top: 0;

}
.section-tittle{

    color: #F00;

text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.Offer-tittle{

    color: #F00;

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 300px;
line-height: normal;
padding-left: 270px;
padding-top: 0;
}
.Offer-catagory{

    color: #070211;

text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-left: 270px;
}